@using OrganicWebApp.ViewModel;
@model List<ProductInCart>
@{
    ViewData["Title"] = "Index";
}

<section class="h-100">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Giỏ Hàng</h3>
                    <div>
                        <p class="mb-0">
                            <span class="text-muted">Sort by:</span> <a href="#!" class="text-body">
                                price <i class="fas fa-angle-down mt-1"></i>
                            </a>
                        </p>
                    </div>
                </div>

                @if (ViewData["Total"].ToString() == "0")
                {
                    <div>
                        Giỏ hàng trống
                    </div>
                }

                @foreach (var item in Model)
                {
                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            @if (ViewBag.Error != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            }
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src="@item.ImageUrl"
                                         class="img-fluid rounded-3" alt="Cotton T-shirt">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">@item.ProductName</p>
                                    <p><span class="text-muted">Khối lượng </span>@item.Weight g |<span class="text-muted"> Đóng gói </span>@item.TypeClosure</p>
                                    <div>
                                        @item.Priced đ
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    <a class="btn btn-link px-2"
                                       onclick="this.parentNode.querySelector('input[type=number]').stepDown()" asp-action="DecreaseCartItem" asp-controller="Cart" asp-route-id="@item.CartItemID">
                                        <i class="fas fa-minus"></i>
                                    </a>

                                    <input id="form1" min="0" name="quantity" value="@item.Quantity" type="number"
                                           class="form-control form-control-sm" />

                                    <a class="btn btn-link px-2"
                                       onclick="this.parentNode.querySelector('input[type=number]').stepUp()" asp-action="IncreaseCartItem" asp-controller="Cart" asp-route-id="@item.CartItemID">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0">Tổng: @item.Total đ</h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a asp-action="DeleteCartItem" asp-controller="Cart" asp-route-id="@item.CartItemID" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                }


                <div class="card mb-4">

                    <div class="card-body p-4 d-flex flex-row">
                        <div class="form-outline flex-fill">
                            <input type="text" id="form1" class="form-control" placeholder="Mã Coupon" />

                        </div>
                        <button type="button" class="btn btn-outline-warning btn ms-3">Apply</button>
                    </div>
                    <div class="card-body p-4 d-flex flex-row">
                        <div class="fs-5 fw-bold">
                            Tổng tiền:
                        </div>
                        <div class="ms-3 fs-5">
                            @ViewData["Total"] đ


                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="text/plain">
                            <input name="totalInvoice" value="@ViewData["Total"]" class="" style="display:none" />

                            @if (ViewData["Total"].ToString() != "0")
                            {
                                <a asp-action="Check" asp-controller="Cart" class="btn btn-warning btn-block btn" asp-route-totalInvoice="@ViewData["Total"]">Thanh toán</a>
                            }
                            else
                            {
                                <a class="btn btn-warning btn-block btn disabled">Thanh toán</a>
                            }
                            @if (ViewBag.Error != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            }

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>