@using Org_DAL.Models
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Quản lý sản phẩm";
    Layout = "_Layout";
    
}


<h3 class="text-center">Quản lý sản phẩm</h3>
 
<div class="container">
    <div class="d-flex justify-content-end mt-3 mb-3">
        <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Create">
            Thêm sản phẩm mới
        </a>
    </div>
    <div>
        <table class="table w-100 text-center table-striped align-baseline">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Tên Sản Phẩm
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Loại
                    </th>
                    <th>
                        Hạn sử dụng
                    </th>
                    <th>
                        Thao tác
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select((value, i) => (value, i)))
                {
                    <tr>
                        <td>
                            @(item.i+1)
                        </td>
                        <td>
                            @item.value.ProductName
                        </td>
                        <td>
                            @item.value.Quantity
                        </td>
                        <td>
                            @item.value.TypeClosure
                            
                        </td>
                        <td>
                            @item.value.EXP.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            <a class="btn btn-success m-2" asp-controller="Product" asp-action="Detail" asp-route-id="@item.value.Id">
                                Chi tiết
                            </a>

                            <a class="btn btn-warning m-2" asp-controller="Product" asp-action="Edit" asp-route-id="@item.value.Id">
                                Sửa
                            </a>

                            <a class="btn btn-danger m-2 delete-button" id="@item.value.Id"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Xoá
                            </a>

                        </td>
                    </tr>                
                }
            </tbody>
        </table>
    </div>
    <div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận XOÁ?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>                 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                        <a id="buttonConfirmDelete" asp-controller="Product" asp-action="Delete" asp-route-id="" class="btn btn-primary">Xác nhận</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    document.querySelectorAll('.delete-button').forEach(function (button) {
        button.addEventListener('click', function () {          
            var originHref = document.getElementById('buttonConfirmDelete').getAttribute('href')
            document.getElementById('buttonConfirmDelete').setAttribute('href',originHref+"/"+button.id)
        });
    });
</script>

